name: Update SUS Data
on:
  schedule:
    - cron: "*/20 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install pandas openpyxl requests

      - name: Generate data.json
        run: python generate_data.py

      - name: Commit Data
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions@github.com"
          if [[ `git status --porcelain` ]]; then
            git add data.json
            git commit -m "Update data.json"
            git push
          else
            echo "No changes"
          fi
