name: Update SUS Data

on:
  schedule:
    - cron: "*/20 * * * *" # tiap 20 menit
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # perlu full history untuk pull --rebase

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install pandas openpyxl requests

      - name: Generate JSON files
        run: python generate_data.py

      - name: Commit Data
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # sinkron dulu dengan remote (kalau kamu ada commit baru)
          git pull --rebase origin main || true

          if [[ `git status --porcelain` ]]; then
            git add data.json nim_issues.json sus_scores.json
            git commit -m "Update JSON data (auto)"
            git push origin HEAD:main
          else
            echo "No changes"
          fi
