name: Update SUS Data

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install pandas openpyxl requests

      - name: Generate data.json & nim_issues.json
        run: python generate_data.py

      - name: Commit Data
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git pull --rebase origin main || true

          if [[ `git status --porcelain` ]]; then
            git add data.json nim_issues.json
            git commit -m "Update data.json & nim_issues.json"
            git push origin HEAD:main
          else
            echo "No changes"
          fi
